body {
    /*background-color: lightblue;*/
    background-image: url("background.png");
}
h1 {
    color: white;
    text-align: center;
}

#container {
  position :center;
}

#label_current_temp{
  position: absolute;
  top: 150px;
  left: 125px;
}
#label_current_hum{
  position: absolute;
  top: 250px;
  left: 125px;
}
#label_avg_temp{
  position: absolute;
  top: 350px;
  left: 125px;
}
#label_avg_hum{
  position: absolute;
  top: 450px;
  left: 125px;
}
#label_min_temp{
  position: absolute;
  top: 150px;
  left: 625px;
}
#label_min_hum{
  position: absolute;
  top: 250px;
  left: 625px;
}
#label_max_temp{
  position: absolute;
  top: 350px;
  left: 625px;
}
#label_max_hum{
  position: absolute;
  top: 450px;
  left: 625px;
}

#out_current_temp{
  position: absolute;
  top: 150px;
  left: 150px;
}
#out_current_hum{
  position: absolute;
  top: 250px;
  left: 150px;
}
#out_avg_temp{
  position: absolute;
  top: 350px;
  left: 150px;
}
#out_avg_hum{
  position: absolute;
  top: 450px;
  left: 150px;
}
#out_min_temp{
  position: absolute;
  top: 150px;
  left: 650px;
}
#out_min_hum{
  position: absolute;
  top: 250px;
  left: 650px;
}
#out_max_temp{
  position: absolute;
  top: 350px;
  left: 650px;
}
#out_max_hum{
  position: absolute;
  top: 450px;
  left: 650px;
}

#get_current_temp{
  position: absolute;
  top: 180px;
  left: 125px;
}
#get_current_hum{
  position: absolute;
  top: 280px;
  left: 125px;
}
#get_avg_temp{
  position: absolute;
  top: 380px;
  left: 125px;
}
#get_avg_hum{
  position: absolute;
  top: 480px;
  left: 125px;
}
#get_min_temp{
  position: absolute;
  top: 180px;
  left: 625px;
}
#get_min_hum{
  position: absolute;
  top: 280px;
  left: 625px;
}
#get_max_temp{
  position: absolute;
  top: 380px;
  left: 625px;
}
#get_max_hum{
  position: absolute;
  top: 480px;
  left: 625px;
}

#clear{
  position: absolute;
  top: 600px;
  left: 400px;
}
